*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 2rem;
}

.App {
  display:grid;
  grid-template-rows: repeat(auto-fit, minmax(12rem, 16rem));
  gap:2rem;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: 0.2rem;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  cursor:pointer;
  transition:transform 200ms ease-in; 
}

.card_photo {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.card_title {
  padding: 1rem;
}

.card_description {
  padding: 0 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}